h1 {
    color:rgb(80, 34, 34);
    margin:30px
}
    
    
    .grid{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-evenly;
}

.item{
    position:relative;
}
.item p{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    opacity:0
}
.item:hover p{
    opacity:1
}
.item:hover img{
    opacity:0.33
}
.header{
    background-color: rgb(60, 92, 81);
    display:flex;
    justify-content: space-between;
    border:solid;
}